<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leaflet-Basic-Map</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" />
  <style type="text/css">
    .leaflet-container{background-color:#c5e8ff;}
  </style>
  <link rel="stylesheet" href="../static/fontawesome-5.5/css/all.min.css" />
  <link rel="stylesheet" href="../static/slick/slick.css">
  <link rel="stylesheet" href="../static/slick/slick-theme.css">
  <link rel="stylesheet" href="../static/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/templatemo-style.css" />

  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
  <section id="hero" class="tm-parallax">
    <div class="container fill" id="hero_grey_block">
      <div id="mapid"></div>
    </div>
  </section>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">All Crime Data from 2021 - 2022</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2021-data">2021 Crime Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/2022-data">2022 Crime Data</a>
        </li>
      </ul>
    </div>
  </nav>

  <section id="introduction" class="tm-section-pad-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="../static/img/the-town-01.jpg" alt="Image" class="img-fluid tm-intro-img" />
        </div>
        <div class="col-lg-6">
          <div class="tm-intro-text-container">
              <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
              <p class="mb-4 tm-intro-text">
                This map displays district blocks in Philadelphia that are classified as High in Poverty,
                a coordinate point for each crime in 2021-2022, as well as the 
                current market value of residential properties in that area.
            </p>
              <p class="mb-5 tm-intro-text">
               For more data science projects pertaining to Philadelphia, please refer to this link:
                <a rel="nofollow" href="https://www.nehla.codes">nehla.codes</a>. Thank you.
              </p>
              <div class="tm-next">
                <a href="https://www.github.com/namin1993" class="tm-intro-text tm-btn-primary">Github</a>
              </div>
          </div>
        </div>
      </div>

      <div class="row tm-section-pad-top">
        <div class="col-lg-4">
          <i class="fas fa-4x fa-home text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">Poverty</h4>
          <p>
            Hover over each district block outlined in Philadelphia to see information on 
            the percentage of the population living in poverty within that area.
          </p>
        </div>
      
      <div class="col-lg-4 mt-5 mt-lg-0">
        <i class="fas fa-4x fa-gavel text-center tm-icon"></i>
        <h4 class="text-center tm-text-primary mb-4">Crime</h4>
        <p>
          Filter out crime according to the Year and the type of Crime committed. 
          Hover over each point in order to see more information about the crime 
          that occurred in the area.
        </p>
      </div>
      <div class="col-lg-4 mt-5 mt-lg-0">
        <i class="fas fa-4x fa-city text-center tm-icon"></i>
        <h4 class="text-center tm-text-primary mb-4">Market Value</h4>
        <p>
          See the current market value of residential properties in Philadelphia.
        </p>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
      <div class="row">
          <div class="col-12">
              <h2 class="mb-4 tm-section-title">Contact Me</h2>
              <div class="mb-5 tm-underline">
                <div class="tm-underline-inner"></div>
              </div>
              <p class="mb-5">
                If there are inquiries on projects or contract work you would like for me to look into,
                please feel free to reach out to me. In the future, I will provide a submission form.
              </p>
          </div>
          
          <!--
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <a href="tel:0100200340" class="tm-contact-item-link">
                <i class="fas fa-3x fa-phone mr-4"></i>
                <span class="mb-0">010-020-0340</span>
            </a>              
          </div>
          -->
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <a href="mailto:info@company.co" class="tm-contact-item-link">
                <i class="fas fa-3x fa-envelope mr-4"></i>
                <span class="mb-0">namin.general@gmail.com</span>
            </a>              
          </div>
          <!-- 
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <a href="https://www.google.com/maps" class="tm-contact-item-link">
                <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                <span class="mb-0">Location on Maps</span>
            </a>              
          </div>
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <form action="" method="get">
              <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
              <button type="submit" class="btn tm-btn-submit">Submit</button>
            </form>
          </div>
          -->
      </div>
    </div>
    <footer class="text-center small tm-footer">
        <p class="mb-0">
          Copyright &copy; 2022 Nehla A. 
          
          - Design: <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </footer>
  </section>

  <script>

    function getOffSet(){
      var _offset = 450;
      var windowHeight = window.innerHeight;

      if(windowHeight > 500) {
        _offset = 400;
      } 
      if(windowHeight > 680) {
        _offset = 300
      }
      if(windowHeight > 830) {
        _offset = 210;
      }

      return _offset;
    }

    function setParallaxPosition($doc, multiplier, $object){
      var offset = getOffSet();
      var from_top = $doc.scrollTop(),
        bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
      $object.css({"background-position" : bg_css });
    }

    // Parallax function
    // Adapted based on https://codepen.io/roborich/pen/wpAsm        
    var background_image_parallax = function($object, multiplier, forceSet){
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      // $object.css({"background-attatchment" : "fixed"});

      if(forceSet) {
        setParallaxPosition($doc, multiplier, $object);
      } else {
        $(window).scroll(function(){          
          setParallaxPosition($doc, multiplier, $object);
        });
      }
    };

    var background_image_parallax_2 = function($object, multiplier){
      multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
      multiplier = 1 - multiplier;
      var $doc = $(document);
      $object.css({"background-attachment" : "fixed"});
      $(window).scroll(function(){
        var firstTop = $object.offset().top,
            pos = $(window).scrollTop(),
            yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

        var bg_css = 'center ' + yPos + 'px';

        $object.css({"background-position" : bg_css });
      });
    };
    
    $(function(){
      // Hero Section - Background Parallax
      background_image_parallax($(".tm-parallax"), 0.30, false);
      background_image_parallax_2($("#contact"), 0.80);   
      
      // Handle window resize
      window.addEventListener('resize', function(){
        background_image_parallax($(".tm-parallax"), 0.30, true);
      }, true);

      // Detect window scroll and update navbar
      $(window).scroll(function(e){          
        if($(document).scrollTop() > 120) {
          $('.tm-navbar').addClass("scroll");
        } else {
          $('.tm-navbar').removeClass("scroll");
        }
      });
      
      // Close mobile menu after click 
      $('#tmNav a').on('click', function(){
        $('.navbar-collapse').removeClass('show'); 
      })

      // Scroll to corresponding section with animation
      $('#tmNav').singlePageNav();        
      
      // Add smooth scrolling to all links
      // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
      $("a").on('click', function(event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;

          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 400, function(){
            window.location.hash = hash;
          });
        } // End if
      });

      // Pop up
      $('.tm-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: { enabled: true }
      });

      // Gallery
      $('.tm-gallery').slick({
        dots: true,
        infinite: false,
        slidesToShow: 5,
        slidesToScroll: 2,
        responsive: [
        {
          breakpoint: 1199,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 991,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 767,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
      });
    });
  </script>
  <script src="../static/js/jquery-1.9.1.min.js"></script> 
  <script src="../static/slick/slick.min.js"></script>
  <script src="../static/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/jquery.singlePageNav.min.js"></script>     
  <script src="../static/js/bootstrap.min.js"></script> 

  <!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script> -->
  <!-- <script src="http://cdn.leafletjs.com/leaflet-1.0.0/leaflet.js"></script> -->
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Maps JavaScript -->
  <script type="text/javascript" src= {% block map_route %}{% endblock %}></script>

</body>
</html>
